<div class="footer">
    <div class="content">
        <table width="100%" cellspacing="20">
            <tbody>
                <tr>
                    <td>
                        <h3>WHO WE ARE</h3>
                        <p> Welcome to Sports Store!</p>
                        <p>
                            We are an online business currently based in
                            Irvine, California.
                        </p>
                        <a href="/about.php">Learn more... </a>
                    </td>
                    <td>
                        <h3>MAIN OFFICE</h3>
                        <p>
                            <address>
                                40234 Sunrise Blvd,
                                Irvine, California, 92811
                            </address>
                        </p>
                        <p> Tel: (949) 800 2221</p>
                        <p> Email: info@sportstore.com</p>
                        <a href="/contact.php">Learn More...</a>
                    </td>
                    <td>
                        <h3>QUICK LINKS</h3>
                        <a href="/index.php">First Page</a>
                        <a href="/products.php">What We Offer</a>
                        <a href="/order.php">Order Now</a>
                        <a href="/about.php">Who We Are</a>
                        <a href="/contact.php">Get In Touch</a>
                    </td>
                    <td>
                        <h3>FOLLOW US</h3>
                        <a href="#">Facebook</a>
                        <a href="#">Instagram</a>
                        <a href="#">Twitter</a>
                        <a href="#">LinkedIn</a>
                        <a href="#">Pinterest</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="copyright">
        Copyright &copy; 2020 Sports Store - All Rights Reserved
    </p>
</div>