<div class="header">
    <div class="content">
        <div class="logo">
            <a href="./index.php">
                <h1>Sports Store</h1>
            </a>
        </div>
    </div>
    <div class="navbar">
        <ul class="content">
            <li><a href="./index.php" class="active">Home</a></li>
            <li><a href="./products.php">Products</a></li>
            <li><a href="./about.php">About Us</a></li>
            <li><a href="./contact.php">Contact Us</a></li>
        </ul>
    </div>
</div>